body {
    margin: 0;
    background-color: #000000;
    color: #fff;
    max-width: 100vw;
    font-family: 'Montserrat';
    margin-top: 110px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 100px;
    position: fixed;
    width: 90vw;
    z-index: 99;
    top: 0;
}

.navbar .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin: 0 15px;
}

.links {
    width: 24px;
}

.vr {
    border-left: 1px solid #CD7F32;
    padding-left: 16px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
    color: #00bcd4;
}

@media (max-width: 768px) {
    /* .navbar .nav-links {
        flex-direction: column;
        display: none;
    } */

    .navbar .nav-links.active {
        display: flex;
    }
}

/* Hero */
.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    max-width: 100vw;
    padding-left: 100px;
    padding-right: 100px;
}


.hero-section .head-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

.hero-section .head-name {
    position: absolute;
    top: -310px;
    left: 150px;
}

.hero-section .head-name .name {
    font-size: 90px;
    font-family: "Cinzel";
    height: 45px;
}

.hero-section .li-img {
    height: 10px;
}

.play-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-button {
    width: 70px;
}

.play-button p {
    font-size: 13px;
}

.play-plate {
    width: 70px;
}

.image-content {
    flex: 1;
}

.hero-section .image-content .hero-img {
    height: 550px;
}

.hero-section .hero-text {

    width: 350px;
    position: relative;
    margin-bottom: 20px;
}

.l2 {
    position: absolute;
    right: 245px;
    top: -120px;
}

.l2 .l2-img {
    height: 120px;
}

.E-Bg {
    height: 10px;
    position: absolute;
    top: -270px;
    right: 150px;
    z-index: -1;
}

.E-Bg .E1-img {
    height: 430px;
}

.hero-text strong {
    font-family: 'Cinzel';
}

.hero-text span {
    display: block;
}

.hero-text .f1-img {
    width: 350px;
}

.hero-text p {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 50px;
}

/* Lore */
.lore-section {
    min-height: 100vh;
    background-image: url(/Marble1.png);
    padding: 120px 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.section-1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.lore {
    background-color: #101010;
    border: 8px solid #4E4E4E;
    border-radius: 32px;
    width: 539px;
    height: 684px;
    padding: 30px;
}

.lore-head {
    font-family: 'Cinzel';
    font-weight: 700;
    font-size: 32px;
}

.lore-text {
    font-size: 18px;
}

.lore-sub {
    color: #CD7F32;
    font-size: 18px;
    font-weight: 600;
}

.helmet-img {
    height: 16px;
    width: 13.9px;
}

.learn-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learn-more p {
    font-weight: 500;
    font-size: 18px;
}

.learn-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 700;
    padding: 4px 16px;
    border-radius: 4px;
    height: 34px;
    width: 104px;
}

.lore-img-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes slideIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.lore-img {
    height: 603px;
    width: 474px;
    animation: slideIn 1s ease-in-out;
}

#s2 {
    display: none;
}

#s3 {
    display: none;
}

#s4 {
    display: none;
}

#s5 {
    display: none;
}

.slide-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4px;
}

.active-slide-dot {
    width: 20px;
    height: 20px;
    background-color: #00FFFF;
    border-radius: 100%;
}

.slide-dot {
    width: 15px;
    height: 15px;
    background-color: whitesmoke;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

.quotes-container {
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(32px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    width: 86%;
    padding: 0px 50px;
}

.q-img {
    width: 80px;
}

.quote-img {
    position: absolute;
    top: -40px;
    left: 200px;
}

.qoute-head {
    font-family: 'Cinzel';
    font-size: 24px;
    font-weight: 700;
    line-height: 32.35px;
    letter-spacing: -0.02em;
}

.quotes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.quote {
    border: 1px solid white;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 30px;
    width: 255px;
    margin-bottom: 50px;
}

.quote p {
    font-size: 14px;
    text-align: center;
}

.q-navigations {
    display: none;
}

/* Model */

.model-section-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#model-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: max-content;
}

.model-header {
    background-color: #FFFFFF;
    width: 400px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
    border-bottom-right-radius: 32px;
    position: absolute;
    top: 0;
    left: 0;
}

#model-sub {
    font-family: 'Cinzel';
    color: #fff;
    size: 24px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 200px;
}

.model-head {
    font-family: 'Cinzel';
    color: #000000;
    size: 24px;
    font-weight: 700;

}

.model-menu {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
    height: 631px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 56px;
    position: absolute;
    right: 150px;
    border-radius: 12px;
    border: 0.5px solid rgba(255, 171, 61, 0.4);
}

.model-move {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* flex: 1; */
    height: 15%;
    padding: 2px 4px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 12px;
    margin-bottom: 4px;
}

.model-zoom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* flex: 1; */
    height: 15%;
    padding: 2px 4px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 12px;
    margin-bottom: 4px;
}

.models-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* flex: 1; */
    height: 20%;
    padding: 2px 4px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 12px;
}

.models-selector2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* flex: 1; */
    height: 35%;
    padding: 2px 4px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 12px;
}

.action-btn {
    width: 28px;
}

.model {
    width: 32px;
    border-radius: 5px;
}

.models-selector .active {
    border: 2px solid #00bcd4;
    border-radius: 5px;
}

.models-selector2 .active {
    border: 2px solid #00bcd4;
    border-radius: 5px;
}

/* canvas {
    border: 1px solid red;
    
} */

/* Portfolio */
.protfolio {
    min-height: 50vh;
    background-image: url(/Marble1.png);
    padding: 120px 130px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.protfolio-head p {
    font-family: 'Cinzel';
    font-size: 32px;
    font-weight: 700;
    width: 400px;
}

.address-container {
    background: #1A1A1A;
    width: 500px;
    height: 374px;
    border-radius: 32px;
    padding: 5px 60px;
}

.address-container .address-head {
    font-family: 'Cinzel';
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: #CD7F32;
}

.wallets {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.wallets .wallet-name {
    color: #00FFFF;
    width: 204px;
}

.wallets .wallet-address {
    text-decoration: underline;
    width: 247px;
    text-align: start;
    word-wrap: break-word;
}

.highlight-container {
    background: #1A1A1A;
    width: 500px;
    height: 530px;
    border-radius: 32px;
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.highlight-head {
    color: #CD7F32;
    font-family: 'Cinzel';
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.coins {
    width: 70px;
}

.highlight-sections {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.highlight-1 {
    border: 1px solid white;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
}

.sol {
    font-weight: 700;
}

.sol-bal {
    color: #00FFFF;
}

.sol-bal sub {
    color: #FFFFFF;
    font-size: 8px;
}

.sol-details {
    font-size: 12px;
    margin-top: -12px;
}


.highlight-2 {
    border: 1px solid white;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.base {
    font-weight: 700;
}

.base-bal {
    color: #00FFFF;
    margin-top: -1px;
}

.base-bal sub {
    color: #FFFFFF;
    font-size: 8px;
}

.base-bal span {
    color: #FFFFFF;
    font-size: 8px;
}

.nfts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1px solid white;
    border-radius: 32px;
    padding: 5px 20px;
    padding-bottom: +20px;
}

.nfts .nft-list {
    display: flex;
}

.nfts .nft {
    width: 80px;
    padding-right: 4px;
    border-radius: 10px;
}

.nfts .nft-box {
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 4px;
}



/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #CD7F32;
    padding: 5px 100px;
}

.footer p {
    font-family: 'Cinzel';
    font-size: 18px;
    font-weight: 700;
    line-height: 24.26px;
    text-align: left;
}

.footer .nav-links {
    list-style: none;
    display: flex;
}

.footer .nav-links li {
    margin: 0 15px;
}

.footer .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer .nav-links a:hover {
    color: #00bcd4;
}

.vr-foot {
    border-left: 1px solid white;
    padding-left: 16px;
}

@media (max-width: 768px) {
    /* .footer .nav-links {
        flex-direction: column;
        display: none;
    } */

    .footer .nav-links.active {
        display: flex;
    }
}


#vid-container {
    display: none;
}


@media (max-width: 1024px) {

    body {
        padding: 0px;
        margin-top: 110px;
        max-width: 100vw;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000000;
        padding: 5px 10px;
        width: 95vw;
    }

    .navbar .logo {
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
    }

    .navbar .nav-links {
        list-style: none;
        display: flex;
    }

    .navbar .nav-links li {
        margin: 0 8px;
    }

    .links {
        width: 23px;
    }

    .vr {
        border-left: 1px solid #CD7F32;
        padding-left: 16px;
    }

    .navbar .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        transition: color 0.3s ease;
    }

    .navbar .nav-links a:hover {
        color: #00bcd4;
    }



    /* Hero */
    .hero-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        max-width: 100vw;
        padding-left: 100px;
        padding-right: 100px;
    }


    .hero-section .head-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        position: relative;
    }

    .hero-section .head-name {
        position: absolute;
        top: -410px;
        left: 20px;
    }

    .hero-section .head-name .name {
        font-size: 30px;
        font-family: "Cinzel";
        height: 45px;
    }

    .hero-section .head-name .n1 {
        margin-bottom: -30px;
    }

    .hero-section .l1-img {
        height: 10px;
        display: none;
    }

    .play-button {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .play-text {
        position: absolute;
        top: -55px;
        left: 60px;
    }

    .play-button {
        width: 45px;
        position: absolute;
        top: -60px;
        left: 0px;
    }

    .play-button p {
        font-size: 10px;
    }

    .play-plate {
        width: 70px;
        display: none;
    }


    .image-content {
        flex: 1;
        width: 400px;
    }

    .hero-section .image-content .hero-img {
        height: 435px;
        width: 400px;
    }

    .hero-section .hero-text {

        width: 350px;
        position: relative;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .l2 {
        display: none;
        position: absolute;
        right: 245px;
        top: -120px;
    }

    .l2 .l2-img {
        height: 120px;
    }

    .E-Bg {
        height: 10px;
        /* position: absolute; */
        top: -180px;
        left: -110px;
        z-index: 0;
    }

    .E-Bg .E1-img {
        height: 250px;
        width: 225px;
    }

    .hero-text strong {
        font-family: 'Cinzel';
        text-align: start;
    }

    .hero-text span {
        display: block;
        font-size: 13px;
        text-align: start;
    }

    .ds-title {
        margin-top: 20px;
    }

    hr {
        width: 290px;
    }

    .hero-text .f1-img {
        width: 250px;
        align-self: center;
    }

    .hero-text p {
        font-size: 13px;
        font-weight: lighter;
        margin-bottom: 50px;
    }

    /* Lore */
    .lore-section {
        min-height: 100vh;
        background-image: url(/Marble1.png);
        padding: 120px 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .section-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }

    .lore {
        background-color: #101010;
        border: 8px solid #4E4E4E;
        border-radius: 32px;
        width: 319px;
        height: 584px;
        padding: 10px;
        margin-bottom: 30px;
    }

    .lore-head {
        font-family: 'Cinzel';
        font-weight: 700;
        font-size: 16px;
    }

    .lore-text {
        font-size: 13px;
    }

    .lore-sub {
        color: #CD7F32;
        font-size: 14px;
        font-weight: 600;
    }

    .helmet-img {
        height: 16px;
        width: 13.9px;
    }

    .learn-more {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .learn-more p {
        font-weight: 500;
        font-size: 16px;
    }

    .learn-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        color: #000000;
        font-weight: 800;
        padding: 2px 8px;
        border-radius: 4px;
        height: 20px;
        width: 90px;
    }

    .lore-img {
        height: 350px;
        width: 274px;
    }

    .quotes-container {
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
        backdrop-filter: blur(32px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        padding: 0px 20px;
        width: 300px;
    }

    .q-img {
        width: 45px;
    }

    .quote-img {
        position: absolute;
        top: -20px;
        left: 15px;
    }

    .qoute-head {
        font-family: 'Cinzel';
        font-size: 24px;
        font-weight: 700;
        line-height: 32.35px;
        letter-spacing: -0.02em;
    }

    .quotes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .quote {
        border: 1px solid white;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 30px;
        width: 255px;
        margin-bottom: 50px;
        transition: left 0.3s ease-in-out;
    }

    .quote p {
        font-size: 12px;
        text-align: center;
    }

    .q-navigations {
        display: block;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 10px;
        width: 100%;
    }

    #q1,
    #q2 {
        display: none;
    }

    .model-header {
        background-color: #FFFFFF;
        width: 200px;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-left: 30px;
        border-bottom-right-radius: 32px;
        position: absolute;
        top: 0;
        left: 0;
    }

    #model-sub {
        font-family: 'Cinzel';
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        bottom: 95px;
        left: 90px;
    }

    .model-menu {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        position: absolute;
        right: 240px;
        transform: scaleX(-1) rotate(90deg);
        bottom: -100px;
        left: 120px;
        padding: 8px 2px;
        border-radius: 12px;
        flex-wrap: wrap;
        height: 290px;
    }

    .model-zoom {
        height: 30%;
    }

    .model-move {
        height: 30%;
    }

    .models-selector {
        height: 30%;
    }


    .models-selector2 {

        height: 180px;
    }

    .action-btn {
        transform: rotate(270deg)
    }

    .model {
        transform: rotate(270deg)
    }

    /* Portfolio */
    .protfolio {
        min-height: 50vh;
        background-image: url(/Marble1.png);
        /* padding: 120px 130px; */

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .portfolio-wallet {
        margin-right: 10px;
    }

    .protfolio-head p {
        font-family: 'Cinzel';
        font-size: 24px;
        font-weight: 700;
        width: 300px;
    }

    .address-container {
        background: #1A1A1A;
        width: 300px;
        height: 274px;
        border-radius: 32px;
        padding: 5px 20px;
    }

    .address-container .address-head {
        font-family: 'Cinzel';
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        color: #CD7F32;
    }

    .address-container p {
        font-size: 14px;
    }

    .wallets {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;
    }

    .wallets .wallet-name {
        color: #00FFFF;
        width: 204px;
        font-size: 12px;
    }

    .wallets .wallet-address {
        text-decoration: underline;
        width: 160px;
        text-align: start;
        word-wrap: break-word;
        font-size: 12px;
    }

    .highlight-container {
        background: #1A1A1A;
        width: 300px;
        height: 390px;
        border-radius: 32px;
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 20px;
        margin-left: 10px;
    }

    .highlight-head {
        color: #CD7F32;
        font-family: 'Cinzel';
        font-size: 16px;
        font-weight: 700;
    }

    .coins {
        width: 28px;
    }

    .live {
        font-size: 13px;
    }

    .highlight-sections {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: -50px;
    }

    .highlight-1 {
        border: 1px solid white;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2px 5px;
    }

    .sol {
        font-weight: 700;
    }

    .sol-bal {
        color: #00FFFF;
        font-size: 12px;
    }

    .sol-bal sub {
        color: #FFFFFF;
        font-size: 8px;
    }

    .sol-details {
        font-size: 10px;
        margin-top: -12px;
    }


    .highlight-2 {
        border: 1px solid white;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
    }

    .base {
        font-weight: 700;
    }

    .base-bal {
        color: #00FFFF;
        margin-top: -1px;
        font-size: 12px;
    }

    .base-bal sub {
        color: #FFFFFF;
        font-size: 8px;
    }

    .base-bal span {
        color: #FFFFFF;
        font-size: 8px;
    }

    .nfts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        border: 1px solid white;
        border-radius: 32px;
        padding: 5px 20px;
        padding-bottom: +20px;
        margin-top: -20px;
    }

    .nfts .nft-list {
        display: flex;
    }

    .nfts .nft {
        width: 45px;
        padding-right: 4px;
        border-radius: 10px;
    }

    .nfts .nft-box {
        border: 1px solid black;
        border-radius: 10px;
        margin-right: 4px;
    }


    /* Footer */
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #CD7F32;
        padding: 1px 20px;
    }

    .footer p {
        font-family: 'Cinzel';
        font-size: 12px;
        font-weight: 700;
        line-height: 12.26px;
        text-align: left;
    }

    .footer .nav-links {
        list-style: none;
        display: flex;
    }

    .footer .nav-links li {
        margin: 0 6px;
    }

    .footer .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 13px;
        transition: color 0.3s ease;
    }

    .footer .nav-links a:hover {
        color: #00bcd4;
    }

    .vr-foot {
        border-left: 1px solid white;
        padding-left: 16px;
    }


}

@media (max-width: 768px) {

    body {
        padding: 0px;
        margin-top: 110px;
        max-width: 100vw;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000000;
        padding: 5px 10px;
        width: 95vw;
    }

    .navbar .logo {
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
    }

    .navbar .nav-links {
        list-style: none;
        display: flex;
    }

    .navbar .nav-links li {
        margin: 0 8px;
    }

    .links {
        width: 23px;
    }

    .vr {
        border-left: 1px solid #CD7F32;
        padding-left: 16px;
    }

    .navbar .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        transition: color 0.3s ease;
    }

    .navbar .nav-links a:hover {
        color: #00bcd4;
    }



    /* Hero */
    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        padding-left: 100px;
        padding-right: 100px;
    }


    .hero-section .head-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        position: relative;
    }

    .hero-section .head-name {
        position: absolute;
        top: -10px;
        left: -170px;
    }

    .hero-section .head-name .name {
        font-size: 25px;
        font-family: "Cinzel";
        height: 45px;
    }

    .hero-section .head-name .n1 {
        margin-bottom: -30px;
    }

    .hero-section .l1-img {
        height: 10px;
        display: none;
    }

    .play-button {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .play-text {
        position: absolute;
        top: 95px;
        left: -30px;
    }

    .play-button {
        width: 45px;
        position: absolute;
        top: 85px;
        left: -90px;
    }

    .play-button p {
        font-size: 10px;
    }

    .play-plate {
        width: 70px;
        display: none;
    }


    .image-content {
        flex: 1;
        width: 400px;
    }

    .hero-section .image-content .hero-img {
        height: 435px;
        width: 400px;
    }

    .hero-section .hero-text {

        width: 350px;
        position: relative;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .l2 {
        display: none;
        position: absolute;
        right: 245px;
        top: -120px;
    }

    .l2 .l2-img {
        height: 120px;
    }

    .E-Bg {
        height: 10px;
        /* position: absolute; */
        top: -500px;
        left: 150px;
        z-index: -1;
    }

    .E-Bg .E1-img {
        height: 250px;
        width: 225px;
    }

    .hero-text strong {
        font-family: 'Cinzel';
        text-align: start;
    }

    .hero-text span {
        display: block;
        font-size: 13px;
        text-align: start;
    }

    .ds-title {
        margin-top: 20px;
    }

    hr {
        width: 290px;
    }

    .hero-text .f1-img {
        width: 250px;
        align-self: center;
    }

    .hero-text p {
        font-size: 13px;
        font-weight: lighter;
        margin-bottom: 50px;
    }

    /* Lore */
    .lore-section {
        min-height: 100vh;
        background-image: url(/Marble1.png);
        padding: 120px 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .section-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }

    .lore {
        background-color: #101010;
        border: 8px solid #4E4E4E;
        border-radius: 32px;
        width: 319px;
        height: 584px;
        padding: 10px;
        margin-bottom: 30px;
    }

    .lore-head {
        font-family: 'Cinzel';
        font-weight: 700;
        font-size: 16px;
    }

    .lore-text {
        font-size: 13px;
    }

    .lore-sub {
        color: #CD7F32;
        font-size: 14px;
        font-weight: 600;
    }

    .helmet-img {
        height: 16px;
        width: 13.9px;
    }

    .learn-more {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .learn-more p {
        font-weight: 500;
        font-size: 16px;
    }

    .learn-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        color: #000000;
        font-weight: 800;
        padding: 2px 8px;
        border-radius: 4px;
        height: 20px;
        width: 90px;
    }

    .lore-img {
        height: 350px;
        width: 274px;
    }

    .quotes-container {
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
        backdrop-filter: blur(32px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        padding: 0px 20px;
        width: 300px;
    }

    .q-img {
        width: 45px;
    }

    .quote-img {
        position: absolute;
        top: -20px;
        left: 15px;
    }

    .qoute-head {
        font-family: 'Cinzel';
        font-size: 24px;
        font-weight: 700;
        line-height: 32.35px;
        letter-spacing: -0.02em;
    }

    .quotes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .quote {
        border: 1px solid white;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 30px;
        width: 255px;
        margin-bottom: 50px;
        transition: left 0.3s ease-in-out;
    }

    .quote p {
        font-size: 12px;
        text-align: center;
    }

    .q-navigations {
        display: block;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 10px;
        width: 100%;
    }

    #q1,
    #q2 {
        display: none;
    }

    .model-header {
        background-color: #FFFFFF;
        width: 200px;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-left: 30px;
        border-bottom-right-radius: 32px;
        position: absolute;
        top: 0;
        left: 0;
    }

    #model-sub {
        font-family: 'Cinzel';
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        bottom: 95px;
        left: 90px;
    }

    .model-menu {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        position: absolute;
        right: 240px;
        transform: scaleX(-1) rotate(90deg);
        bottom: -100px;
        left: 120px;
        padding: 8px 2px;
        border-radius: 12px;
        flex-wrap: wrap;
        height: 290px;
    }

    .model-zoom {
        height: 30%;
    }

    .model-move {
        height: 30%;
    }

    .models-selector {
        height: 30%;
    }


    .models-selector2 {

        height: 180px;
    }

    .action-btn {
        transform: rotate(270deg)
    }

    .model {
        transform: rotate(270deg)
    }

    /* Portfolio */
    .protfolio {
        min-height: 50vh;
        background-image: url(/Marble1.png);
        /* padding: 120px 130px; */

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .protfolio-head p {
        font-family: 'Cinzel';
        font-size: 24px;
        font-weight: 700;
        width: 300px;
    }

    .address-container {
        background: #1A1A1A;
        width: 300px;
        height: 274px;
        border-radius: 32px;
        padding: 5px 20px;
    }

    .address-container .address-head {
        font-family: 'Cinzel';
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        color: #CD7F32;
    }

    .address-container p {
        font-size: 14px;
    }

    .wallets {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;
    }

    .wallets .wallet-name {
        color: #00FFFF;
        width: 204px;
        font-size: 12px;
    }

    .wallets .wallet-address {
        text-decoration: underline;
        width: 160px;
        text-align: start;
        word-wrap: break-word;
        font-size: 12px;
    }

    .highlight-container {
        background: #1A1A1A;
        width: 300px;
        height: 390px;
        border-radius: 32px;
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 20px;
    }

    .highlight-head {
        color: #CD7F32;
        font-family: 'Cinzel';
        font-size: 16px;
        font-weight: 700;
    }

    .coins {
        width: 28px;
    }

    .live {
        font-size: 13px;
    }

    .highlight-sections {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: -50px;
    }

    .highlight-1 {
        border: 1px solid white;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2px 5px;
    }

    .sol {
        font-weight: 700;
    }

    .sol-bal {
        color: #00FFFF;
        font-size: 12px;
    }

    .sol-bal sub {
        color: #FFFFFF;
        font-size: 8px;
    }

    .sol-details {
        font-size: 10px;
        margin-top: -12px;
    }


    .highlight-2 {
        border: 1px solid white;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
    }

    .base {
        font-weight: 700;
    }

    .base-bal {
        color: #00FFFF;
        margin-top: -1px;
        font-size: 12px;
    }

    .base-bal sub {
        color: #FFFFFF;
        font-size: 8px;
    }

    .base-bal span {
        color: #FFFFFF;
        font-size: 8px;
    }

    .nfts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        border: 1px solid white;
        border-radius: 32px;
        padding: 5px 20px;
        padding-bottom: +20px;
        margin-top: -20px;
    }

    .nfts .nft-list {
        display: flex;
    }

    .nfts .nft {
        width: 45px;
        padding-right: 4px;
        border-radius: 10px;
    }

    .nfts .nft-box {
        border: 1px solid black;
        border-radius: 10px;
        margin-right: 4px;
    }


    /* Footer */
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #CD7F32;
        padding: 1px 20px;
    }

    .footer p {
        font-family: 'Cinzel';
        font-size: 12px;
        font-weight: 700;
        line-height: 12.26px;
        text-align: left;
    }

    .footer .nav-links {
        list-style: none;
        display: flex;
    }

    .footer .nav-links li {
        margin: 0 6px;
    }

    .footer .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 13px;
        transition: color 0.3s ease;
    }

    .footer .nav-links a:hover {
        color: #00bcd4;
    }

    .vr-foot {
        border-left: 1px solid white;
        padding-left: 16px;
    }


}

@media (max-width: 480px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000000;
        padding: 5px 10px;
        width: 95vw;
    }

    #model-sub {
        font-family: 'Cinzel';
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        bottom: 85px;
        left: 60px;
    }

    .model-menu {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90px;
        position: absolute;
        right: 240px;
        transform: scaleX(-1) rotate(90deg);
        bottom: -100px;
        left: 104px;
        padding: 8px 2px;
        border-radius: 12px;
        flex-wrap: wrap;
        height: 280px;
    }
}
